openapi: 3.1.0
info:
  title: CalorieNinjas API
  description: API for retrieving nutrition and recipe information.
  version: 1.0.0
servers:
  - url: https://api.calorieninjas.com/v1
paths:
  /nutrition:
    get:
      summary: Get nutrition information
      description: >-
        Retrieve a detailed list of nutrition information for items based on a
        query.
      parameters:
        - name: query
          in: query
          description: >-
            A string containing food or drink items. Prefix a quantity before an
            item to calculate for that quantity. Default is 100 grams if
            unspecified.
          required: true
          schema:
            type: string
            maxLength: 1500
      responses:
        '200':
          description: Successful response containing nutrition information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        sugar_g:
                          type: number
                        fiber_g:
                          type: number
                        serving_size_g:
                          type: number
                        sodium_mg:
                          type: number
                        name:
                          type: string
                        potassium_mg:
                          type: number
                        fat_saturated_g:
                          type: number
                        fat_total_g:
                          type: number
                        calories:
                          type: number
                        cholesterol_mg:
                          type: number
                        protein_g:
                          type: number
                        carbohydrates_total_g:
                          type: number
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      security:
        - ApiKeyAuth: []
  /imagetextnutrition:
    post:
      summary: Get nutrition information from an image
      description: >-
        Analyze an image containing food/beverage text to get nutrition
        information.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                media:
                  type: string
                  format: binary
      responses:
        '200':
          description: Successful response containing nutrition information.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      security:
        - ApiKeyAuth: []
  /recipe:
    get:
      summary: Get recipes
      description: Retrieve a list of recipes matching the search query.
      parameters:
        - name: query
          in: query
          description: A string containing a dish name. Partial match is supported.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response containing recipe information.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    ingredients:
                      type: string
                    servings:
                      type: string
                    instructions:
                      type: string
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
      security:
        - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
